@import "custom-theme";
@import 'react-markdown-editor-lite/lib/index.css';

:root {
  --popup-box-shadow: 3px 3px 13px 4px rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

h1 {
  color: white;
  font-weight: 600;
}

a,
.btn-link {
  text-decoration: none;
  padding: 0;
}

.dropdown-menu {
  box-shadow: var(--popup-box-shadow);
}

.tooltip-inner {
  box-shadow: var(--popup-box-shadow);
}

.tooltip.show {
  opacity: 1;
}

.btn-close {
  filter: brightness(0) invert(1);
}

.page-link {
  margin: 0 4px;
  border-radius: 8px;
}

.page-link:not(:focus-visible) {
  box-shadow: none;
}

.page-item.active .page-link {
  font-weight: bold;
}

.rc-md-editor {
  & {
    border-radius: 0.375rem;
  }

  .rc-md-navigation {
    background-color: $body-bg;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;

    .button-wrap .button {
      color: $body-color;

      &:hover {
        color: white;
      }

      &.button.disabled {
        color: gray;
      }
    }

    .drop-wrap {
      background-color: $surface-bg;
    }

    .header-list .list-item {
      color: $body-color;
    }

    .header-list .list-item:hover {
      color: white;
      background: transparent;
    }
  }

  .editor-container {

    .section-container.input {
      border-bottom-left-radius: 0.375rem;

      &::placeholder {
        color: $input-placeholder-color;
      }
    }

    .section-container.html-wrap {
      border-bottom-right-radius: 0.375rem;
    }

    .section-container.input,
    .section-container.html-wrap {
      background-color: $body-bg;
      color: $body-color;
    }

    .custom-html-style>* {
      color: $body-color;
    }
  }

  a {
    color: var(--bs-link-color);
  }

  a:hover {
    color: var(--bs-link-hover-color);
  }

  &.is-invalid {
    border-color: $danger;
  }

  &.full {
    z-index: 1030;
  }
}

code,
pre,
.rc-md-editor .custom-html-style code,
.rc-md-editor .custom-html-style pre {
  background-color: $surface-bg;
  color: $body-color;
}

pre,
.rc-md-editor .custom-html-style pre {
  display: block;
  padding: 20px;
  line-height: 28px;
}

blockquote,
.rc-md-editor .custom-html-style blockquote {
  position: relative;
  margin: 16px 0;
  padding: 5px 8px 5px 30px;
  background: none repeat scroll 0 0 rgba(102, 128, 153, .05);
  border-left: 10px solid #d6dbdf;

  p {
    font-size: 14px;
    line-height: 1.7;
    margin: 8px 0;
  }
}