.footer {
    margin-top: 2rem;
    font-size: 0.8rem;
    padding-bottom: 2rem;
}

.footer ul {
    padding: 0;
}

.footer li {
    display: inline-block;
    margin-right: 1rem;
}

.footer a {
    color: var(--bs-body-color);
}

.footer a:hover {
    color: white;
}